
<h1>Bibol Questions!</h1>

{% for i in test %}<!--
    -->{% with a="1" %}<!--
    -->{% if i == "{"  %}<!--
    --> {{a}}<!--
    -->{% else %}<!--
    -->o<!--
    -->{% endif %}<!--
    -->{% endwith %}<!--
-->{% endfor %}


{% for verse in verses %}
    {{ verse.chapter }}
        <label for="ContentVerse">ContentVerse: </label>
        <input type="text" size="150" name="ContentVerse" value="{{ verse.ContentVerse }}" required="" id={{verse}}>
    </div>  
    <br> 
    <br>
{% endfor %}
</table>

